.main-box{
  background-color: #ffff;
  box-shadow: none !important;
}

.logo-box{
  padding: 0 !important;
  margin: 0% !important;
}

.logo a img {
  width: 40%;
}

.nav-outer{
  justify-content: end !important;
}

.navigation li a{
  text-decoration: none;
}

.row{
  width: 100%;
}

@media only screen and (max-width: 768px){
    .nav-outer{
      justify-content: end;
    }
    .logo-box{
      min-width: 0 !important;
    }
    .logo img{
      max-height: 100px !important;
    }
}
