.main-box {
  background-color: #ffff;
  box-shadow: none !important;
}
a{
  text-decoration: none !important;
}

.upper-box {
  background-color: #ffff;
}

.close-btn {
  color: #463d39 !important;
}

.nav-outer {
  justify-content: end !important;
}

.navigation li a {
  text-decoration: none;
}

.row {
  width: 100%;
}

.count {
  font-size: 30px !important;
}
.footer_logo_bg {
  width: fit-content;
  background-color: #ffff;
  padding: 15px;
  /* opacity: 0.5; */
  /* z-index: -1; */
}

.course-block{
  margin: 10px;
}
.about-section{
  padding: 0% !important;
}

/* .footer_logo{
  opacity: 1;
  z-index: 11;
} */

.call-to-action{
  margin-top: 200px;
}
.button-contact{
  margin: 10px;
}
.tparrows{
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .nav-outer {
    justify-content: end;
  }
  .logo-box {
    min-width: 0 !important;
  }
  .logo img {
    max-height: 100px !important;
  }
  .call-to-action{
    margin-top: 50px;
  }

  .text-details{
    padding-right: 100px;
  }
}
