.main-box {
  background-color: #ffff;
  box-shadow: none !important;
}

.upper-box {
  background-color: #ffff;
}

.close-btn {
  color: #463d39 !important;
}

.nav-outer {
  justify-content: end !important;
}

.navigation li a {
  text-decoration: none;
}

.row {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .nav-outer {
    justify-content: end;
  }
  .logo-box {
    min-width: 0 !important;
  }
  .logo img {
    max-height: 100px !important;
  }
}
